<app-header></app-header>
<html lang="en-Us">
<head>

	<meta charset="utf-8">
    
	<title>Login with Facebook or Twitter</title>

	<!-- <link rel="stylesheet" href="css/style.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'> -->

	<!--[if lt IE 9]>
		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>

	<div id="login">

		<form>

			<fieldset>

				<p><input type="text" required value="Username" onBlur="if(this.value=='')this.value='Username'" onFocus="if(this.value=='Username')this.value='' "></p> <!-- JS because of IE support; better: placeholder="Username" -->

                <p><input type="password" required value="Password" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' "></p> <!-- JS because of IE support; better: placeholder="Password" -->
                
                <p><input type="password" required value="ResetPassword" onBlur="if(this.value=='')this.value='ResetPassword'" onFocus="if(this.value=='ResetPassword')this.value='' "></p> <!-- JS because of IE support; better: placeholder="ResetPassword" -->

				<p><input type="email" required value="Email" onBlur="if(this.value=='')this.value='Email'" onFocus="if(this.value=='Email')this.value='' "></p> <!-- JS because of IE support; better: placeholder="Email" -->

				<p><input type="submit" value="Sign Up"  onclick="homepage()"></p>

			</fieldset>

		</form>

	

	</div> <!-- end login -->

</body>
</html>
