<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="header">
  <a href="#default" class="logo">CompanyLogo</a>
  <div class="header-right">
    
    <a class="active" routerLink="/signin" routerLinkActive="active">Subject List</a>
    <a class="active" routerLink="/signup" routerLinkActive="active">For tutors</a>
    <a class="active" routerLink="/signup" routerLinkActive="active">For parents</a>
    <a class="active" routerLink="/signup" routerLinkActive="active">Pricing</a>
    <a class="active1" routerLink="/signin" routerLinkActive="active">Login</a>
    <a class="active1" routerLink="/signup" routerLinkActive="active">Sign Up</a>


  </div>
</div>


</body>
</html>
