  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 15vw;
    background-color: #f1f1f1;
    position: absolute;
    height: 100vh;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: rgb(136, 136, 136);
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color:#3b4046;
    color: white;
  }
  
  div.content {
    margin-left: 15vw;
    padding: 1px 16px;
    height: 100vh;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .row {
    display: flex;
  }

  .column {
    float: left;
    width: 33.3%;
    padding: 10px;
  }
  .example-card {
    margin-top: 15%;
    width: 20vw;
    margin: 4%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .b{
      color: rgb(78, 246, 252);
      font-style: bold;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1vh 3vw;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

