<app-header></app-header>
<div class="container">
    <div class="item">
      
      <h1>Better math grades start here</h1>
      <p>Instant online math tutoring - anytime, anywhere.</p>
      <!-- <button class="btn btn-primary">Find Out More</button> -->
      <form action="/search.html" class="search-wrapper cf">
        <input type="text" placeholder="Search here..." required="">
        <button type="submit">Search</button>
    </form>
    </div>
  </div>
  <div class="container1">
    
     <h1>Math tutors</h1>
     
     <h2 align="center">Learn one-on-one with a math expert in the Online Classroom.</h2>
   
  </div>
  <div class="container1">
    
    <h1>See how it works</h1>
    <h2 align="center">Learn difficult math concepts from experts in an easy-to-use digital classroom.</h2>
    
  
 </div>
 <div class="container1">
    
  <h1>cards</h1>
  

</div>
<div class="container1">
    
  <h1>Get instant help with your math homework</h1>
  

</div>
<div class="container1">
    
  <h1>Get started quickly and easily</h1>
  

</div>


<app-footer></app-footer>
