<app-header></app-header>
<div class="container">
    <div class="item">
      
      <h1>Better math grades start here</h1>
      <h4>Instant online math tutoring - anytime, anywhere.</h4>
      <!-- <button class="btn btn-primary">Find Out More</button> -->
      <form action="/search.html" class="search-wrapper cf">
        <input type="text" placeholder="Search here..." required="">
        <button type="submit">Search</button>
    </form>
    </div>
  </div>
  <div class="container1">
    
     <h1>Math tutors</h1>
     
     <h2 align="center">Learn one-on-one with a math expert in the Online Classroom.</h2>
     <div class="container2">
      <div class='item3'>
        <img src="../../assets/images/teachers.PNG" alt="Italian Trulli" class="centerimage">

      </div>
      <div class='item3'>
        
        <h3> Find your subject expert</h3>
        <h3>Get instant help for your specific math questions.</h3>
        <button class="button2"><span>Algebra </span></button><br>
        <button class="button2"><span>Calculus  </span></button><br>
        <button class="button2"><span>Geometry  </span></button><br>
        <button class="button2"><span>Trigonometry  </span></button><br>
        <button class="button2" style="background-color: #343435;"><span>Find a Math Tutor Now  </span></button>
      </div>
     </div>
     
    </div>
   
  
  <div class="container1" style="background-color:rgb(246, 250, 184);">
    
    <h1>See how it works</h1>
    <h2 align="center">Learn difficult math concepts from experts in an easy-to-use digital classroom.</h2>
    <video  class="center" controls>
      <source src="../../assets/videos/books.mp4" type="video/mp4">
      <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
      Your browser does not support HTML5 video.
    </video>
    
  
 </div>
 <div class="container1">
   <div class="row">
  <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>Your satisfaction is guaranteed</mat-card-title>
      
    </mat-card-header>
    <img class="centerimage1" src="../../assets/images/experience.png"><br> 
    <mat-card-content>
      <p>
        With the Satisfaction Guarantee, you can try online math tutoring risk-free.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
     
      <mat-card-title>Connect instantly from anywhere</mat-card-title>

    </mat-card-header>
      <img class="centerimage1" src="../../assets/images/monitor.png"><br> 
    <mat-card-content>
      <p>
        Use your smartphone, tablet, or computer to meet with your math tutor when you need to.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
     
      <mat-card-title>Get help in your subject and grade level</mat-card-title>
      
    </mat-card-header>
    <img class="centerimage1" src="../../assets/images/presentation.png"><br> 
    <mat-card-content>
      <p>
        Connect with tutors who are able to help with your specific question
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
     
      <mat-card-title>Only pay for the time you use</mat-card-title>
      
    </mat-card-header>
    <img class="centerimage1" src="../../assets/images/group.png"><br> 
    <mat-card-content>
      <p>
        No subscriptions, commitments, or pre-payments - just pay as you go!
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title>Sign up for free</mat-card-title>
      
    </mat-card-header>
    <img class="centerimage1" src="../../assets/images/user.png"><br> 
    <mat-card-content>
      <p>
        Register as a Skooli student or parent completely free of charge.
      </p>
    </mat-card-content>
  </mat-card>
  </div>
</div>
<div class="container1" >
  <div id='container2'>
    <div class='item2'>
      

    </div>
    <div class='item2'>
      <h1> instant help with your math homework</h1>
      <h4 align="center">Our online math tutors are always<br>
          available. We’ve selected the best<br>
          tutors from thousands of qualified<br>
          educators. We find the best math <br>
          tutors, so you can get help when <br>
          you need it!.</h4>
          
            <button class="button1"><span>Enter your question </span></button>
          
    </div>
  </div>

</div>
<div class="container1">
    
  <h1>Get started quickly and easily</h1>
  <ol>
    <li><h3>Ask your question</h3></li><br>
    <li><h3>with your tutor</h3></li><br>
    <li><h3>the online classroom</h3></li><br>
  </ol>
  

</div>


<app-footer></app-footer>
